PosWebApp/Connected Services/PosWebService/PosWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/PosWebService/PosWebService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" minOccurs="0" name="GetCustomersResult" nillable="true" type="q2:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q3:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" minOccurs="0" name="GetSuppliersResult" nillable="true" type="q4:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" minOccurs="0" name="sale" nillable="true" type="q5:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadGrn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" minOccurs="0" name="grn" nillable="true" type="q6:Grn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadGrnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadStocktake">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataAccess.Entity.Entities" minOccurs="0" name="stocktake" nillable="true" type="q7:Stocktake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadStocktakeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>